h1 {
	text-transform: uppercase;
	font-weight: 200;
	color: #0ccac4;
	  -webkit-text-fill-color: #0ccac4; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: 2px;
	  -webkit-text-stroke-color: black;
	 text-shadow:
   	-1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}